---
layout: default
title: 博客主页
keywords: 科学家
description: 学习学习
---

{% for post in paginator.posts %}
<div class="post-list">
  <span class="cat">[{{ post.category }}]</span>
  <a title="{{ post.title }}" href="{{ post.url }}">{{ post.title }}</a>
</div>
{% endfor %}

<!-- Pagination links -->
<ul data-am-widget="pagination" class="am-pagination am-pagination-select">
  <li class="am-pagination-prev ">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">上一页</a>
    {% else %}
      <span class="previous">上一页</span>
    {% endif %}
  </li>
  <li class="am-pagination-select">
    {{ paginator.page }} / {{ paginator.total_pages }}
  </li>
  <li class="am-pagination-next ">
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">下一页</a>
    {% else %}
      <span class="next ">下一页</span>
    {% endif %}
  </li>
</ul>