<header class="am-header am-g am-g-fixed am-margin-top">
  <div class="am-u-sm-12 am-cf">
    <h1 class="am-fl">
      E blog
    </h1>
    <nav data-am-widget="menu" class="am-menu am-menu-default am-fr">
      <a href="javascript: void(0)" class="am-menu-toggle">
        <i class="am-menu-toggle-icon am-icon-bars"></i>
      </a>
      <ul class="am-menu-nav am-avg-md-2">
        <li class="">
          <a href="/" class="">首页</a>
        </li>
        <li class="">
          <a href="/archive.html" class="">归档</a>
        </li>
        <li class="">
          <a href="/about.html" class="">说</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<hr data-am-widget="divider" style="" class="am-divider am-divider-default" />